@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #434c5e;
    color: #eceff4;
}

a {
    text-decoration: none;
    color: #eceff4;
}

header {
    text-align: center;
    margin-bottom: 1em;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}

.card {
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    background-color: #2e3440;
    width: 150px;
    transition-duration: 200ms;
}

.card:hover {
    transform: translateY(-.25em);
    -webkit-box-shadow: 0px 5px 15px 5px rgba(216, 222, 233, 0.67);
    box-shadow: 0px 5px 15px 5px rgba(216, 222, 233, 0.67);
}